<div class="bar">
    <app-nav-bar></app-nav-bar>
</div>

<div class="side">
    <app-side-bar></app-side-bar>
</div>

<div class="cnt bg-light">
    <div class="modalDialog">
        <div class="gradiantClass w-100">
              <div class="card">
                    <div class="card-header border-0">
                        <h2>Add Form</h2>
                    </div>
                  
                  <div  class="card-body border-0">
                    <form [formGroup]="addForm">
              
                        <div class="d-flex align-items-start flex-column mb-3">
                            <label class="form-label fw-semibold">Subject</label>
                            <input formControlName="subject" placeholder="subject" class="form-control" type="text">
                        </div>
                          
                        <div class="d-flex align-items-start flex-column mb-3">
                            <label class="form-label fw-semibold">Date</label>
                            <input formControlName="date" placeholder="date" class="form-control" type="date">
                        </div>
                  
                        <div class="d-flex align-items-start flex-column mb-3">
                            <label class="form-label fw-semibold">Write your to-do note</label>
                            <input formControlName="text" placeholder="write here" class="form-control" type="text">
                        </div>

                        <div class="d-flex align-items-start flex-column mb-3">
                            <label class="form-label fw-semibold">Type</label>
                            <select formControlName="type" class="form-select" aria-label="Default select example">
                                <option selected>low</option>
                                <option value="high">high</option>
                                <option value="mid">mid</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="w-100 mb-3 d-flex justify-content-center align-item-center ">
                    <button (click)="submit()" class="btn btn-dark text-white px-4">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
