.card{
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 8px;
    width: 335px;
}

.card-title{
    text-align: center;
}

.ml-3 {
    margin-left: 1rem !important;
}

.new{
    border-width:2px;
    border-style:solid;
    border-color:blueviolet;
    border-radius: 0.375rem;
    background-color: blueviolet;
    text-align: left;
}
.inprogress{
    border-width:2px;
    border-style:solid;
    border-color:rgb(85, 154, 227);
    border-radius: 0.375rem;
    background-color: rgb(85, 154, 227);
    text-align: left;
}
.done{
    border-width:2px;
    border-style:solid;
    border-color:rgb(17, 233, 71);
    border-radius: 0.375rem;
    background-color: rgb(17, 233, 71);
    text-align: left;
}

/* .card-footer{
    border-top: none;
} */