.card{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.36), 0 6px 20px 0 rgba(0, 0, 0, 0.36);
    margin-right: 8px;
    width: 335px;
}

.card-title{
    text-align: center;
}

.new{
    border-width:2px;
    border-style:solid;
    border-color:blueviolet;
    border-radius: 0.375rem;
    background-color: blueviolet;
    text-align: left;
}
.inprogress{
    border-width:2px;
    border-style:solid;
    border-color:rgb(85, 154, 227);
    border-radius: 0.375rem;
    background-color: rgb(85, 154, 227);
    text-align: left;
}
.done{
    border-width:2px;
    border-style:solid;
    border-color:rgb(17, 233, 71);
    border-radius: 0.375rem;
    background-color: rgb(17, 233, 71);
    text-align: left;
}

/* .card-footer{
    border-top: none;
} */