<div class="row">
  <div class="card h-100 col-4 p-0">
    <div class="card-title text-white">
      <div id="title">
        In progress
      </div>
    </div>
    <h5 class="card-title">{{card?.subject}}</h5>
    <div class="card-body">
      <p class="card-text">{{card?.text}}</p>
    </div>
    <div class="card-footer"  style="border-top: none;">
      <small class="text-muted">{{card?.date}}</small>
      <span class="status">Low</span>
    </div>
  </div>

  <!-- <div class="card h-100 col-4 p-0">
    <div class="card-title text-white">
      <div id="title2">
        Review
      </div>
    </div>
    <h5 class="card-title">Card title</h5>
    <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer"  style="border-top: none;">
      <small class="text-muted">Last updated 3 mins ago</small>
      <span class="status2">High</span>
    </div>
  </div>

  <div class="card h-100 col-4 p-0">
    <div class="card-title text-white">
      <div id="title3">
        Completed
      </div>
    </div>
    <h5 class="card-title">Card title</h5>
    <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer"  style="border-top: none;">
      <small class="text-muted">Last updated 3 mins ago</small>
      <span class="status3">Mid</span>
    </div>
  </div> -->
</div>