.card{
    height: 7cm;
    border: none;
    box-shadow: 20px 20px 20px 0 rgb(152 152 152 / 17%);
}

.mainPostion {
    margin-top: 56px;
}

/* #content{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
} */
