<div class="bar">
  <app-nav-bar></app-nav-bar>
</div>

<div class="side">
  <app-side-bar></app-side-bar>
</div>

<div class="cnt p-4 bg-light mainPostion" style="overflow: auto;">
  <div class="row mb-3">
    <div class="col-6">
      <h2>All To-Do</h2>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-end align-item-center">
        <button class="btn btn-outline-info float-end" (click)="add()">Add a to-do note</button>
      </div>
    </div>
  </div>
  <div *ngIf = "data" class="row">
    <div class="col-md-4 mb-3" *ngFor="let item of data">
      <app-card [card]="item"></app-card>
    </div>
  </div>
</div>